LuckyForm/Connected Services/CreditCompanyReference/Credit2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CreditCompany.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CreditCompany.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreditCard">
    <xs:sequence>
      <xs:element minOccurs="0" name="CVV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExpiryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreditCard" nillable="true" type="tns:CreditCard" />
  <xs:complexType name="ArrayOfDeal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Deal" nillable="true" type="tns:Deal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDeal" nillable="true" type="tns:ArrayOfDeal" />
  <xs:complexType name="Deal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="CardID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Payments" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Deal" nillable="true" type="tns:Deal" />
</xs:schema>