LuckyForm/Connected Services/CreditCompanyReference/Credit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Credit" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1265/Credit.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1265/Credit.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1265/Credit.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CreditCompany.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICredit_GetDealVerification_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDealVerification" />
  </wsdl:message>
  <wsdl:message name="ICredit_GetDealVerification_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDealVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="ICredit_GetDealsReport_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDealsReport" />
  </wsdl:message>
  <wsdl:message name="ICredit_GetDealsReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDealsReportResponse" />
  </wsdl:message>
  <wsdl:portType name="ICredit">
    <wsdl:operation name="GetDealVerification">
      <wsdl:input wsaw:Action="http://tempuri.org/ICredit/GetDealVerification" message="tns:ICredit_GetDealVerification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICredit/GetDealVerificationResponse" message="tns:ICredit_GetDealVerification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDealsReport">
      <wsdl:input wsaw:Action="http://tempuri.org/ICredit/GetDealsReport" message="tns:ICredit_GetDealsReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICredit/GetDealsReportResponse" message="tns:ICredit_GetDealsReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICredit" type="tns:ICredit">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDealVerification">
      <soap:operation soapAction="http://tempuri.org/ICredit/GetDealVerification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDealsReport">
      <soap:operation soapAction="http://tempuri.org/ICredit/GetDealsReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Credit">
    <wsdl:port name="BasicHttpBinding_ICredit" binding="tns:BasicHttpBinding_ICredit">
      <soap:address location="http://localhost:1265/Credit.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>